.faq-wrapper {
    height: 100vh;
}

.faq-container {
    font-family: 'Saira', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding-left: 25%;
    padding-right: 25%;
}

.faq-container p {
    font-size: 20px;
}

.faq-content {
    font-family: 'Saira', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding-left: 25%;
    padding-right: 25%;

}

.faq-content p {
    font-size: 20px;
}