.impressum {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}
.back-to-shop-link, .back-to-shop-list-elem {
  text-decoration: none;
  list-style: none;
  color: white;
  background: black;
  display: inline-block;
  padding: 5px;
  right: 100px;

}