.link-button-link, .link-button-li-elem {
    text-decoration: none;
    list-style: none;
    color: white;
    background: #252525;
    display: inline-block;
    padding: 5px;
}

.link-button-link:hover, .link-button-li-elem:hover {
    background: #000000;
}