.cart-wrapper {
    height: 100vh;
}

.cart-page-headline {
    display: flex;
    justify-content: center;
}

.cart-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25px 0 25px;
}

.cart-details-container {
    flex: 1;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 500px;
}

.cart-summary-headline-container {
    display: flex;
    flex-direction: row;
}


.cart-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}


