h1 {
    font-family: 'Saira', sans-serif;
    color: black;
}
.caroussel {
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:  600px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 5px;

}

.caroussel-wrapper {
  margin: 0 75px 0 75px;
}



