.cart-product-info {
    flex: 3;
    font-family: 'Saira', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    max-height: 175px;
}

.cart-product-info:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.cart-product-container {
    display: flex;
    justify-content: space-between;

}

.cart-product-details {
    flex: 2;
    display: flex;
}

.cart-product-details img {
    width: 175px;
    height: 175px;
    border-radius: 5px;
}

.cart-product-general {
    margin: -15px 0 0 15px;
    display: flex;
    flex-direction: column;
    width: 350px;

}



.cart-product-price-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;

}

.cart-product-total {
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}



