.error-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page-title {
    font-family: 'Saira', sans-serif;
}

.product-details-wrapper {
    display: flex;
    justify-content: center;
}